
.type-compact {
    margin-left: -1.66667%;
    font-size: 0;

    ._item {
        width: 10.82513%;
        margin-left: 1.66667%;
        margin-bottom: 1.66667%;
        display: inline-block;
        vertical-align: top;
        transition: all 0.3s cubic-bezier(.03,.92,.46,.96);

        &:hover {
            transform: translate(0,-3px);
        }
    }

        ._target {
            position: relative;
            display: block;
        }

        ._new {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            display: block;
            width: 50px;
            height: 50px;
            background: url('../images/badge_new_compact.png') 0 0 no-repeat;
        }

        ._cover {
            position: relative;
            z-index: 1;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 7px;
            border: 1px solid #e4e4e4;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        ._meta {
            position: relative;
            z-index: 5;
            font-size: 12px;
            line-height: 20px;
            color: #999;
        }

        ._genre {
            font-size: 11px;
            line-height: 14px;
            color: #8188d1;
        }

        ._title {
            font-size: 14px;
            line-height: 22px;
            color: #333;
        }

        ._author, ._description {
            display: none;
        }

    @include mobile {
        margin-left: -4px;
        padding: 5px 0 5px 10px !important;
        white-space: nowrap;

        ._item {
            width: 92px !important;
            margin-left: 4px;
            margin-bottom: 4px;
            float: none !important;

            &:hover {
                transform: translate(0,-3px);
            }
        }

            ._cover {
                width: 90px;
                height: 120px;
                padding-bottom: 0;
                border: 1px solid #ccc;
            }

            ._new {
                width: 40px;
                height: 40px;
                background: url('../images/badge_new.png') 0 0 no-repeat;
                background-size: 100% auto;
            }

            ._meta {
                font-size: 12px;
                line-height: 16px;
                color: #999;
            }

            ._genre {
                margin-top: 44px;
                font-size: 12px;
                line-height: 16px;
                color: #8fa6c0;
            }

            ._title {
                margin-top: -56px;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                color: #333;
            }

            ._author {
                margin-bottom: 16px;
                display: block;
            }

            ._description {
                display: none;
            }
    }
}